<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">	

<suite thread-count="1" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">
         
  <test name="testing1">
	 <classes>
	   <class name="com.selenium.maventesting.AppTest"/>
	 </classes>
   </test>
   
  <test name="testing2">
     <classes>
       <class name="com.selenium.maventesting.AppTest1"/>
     </classes>
   </test>
   <test name="testing3">
   <classes>
	   <class name="com.selenium.maventesting.RegTest"/>
	 </classes>
   </test>
   
  
</suite>